Toronto Neighborhood Assignment 20191216 - Coursera Data Science Capstone Course

In [6]:
#import libraries 
import pandas as pd   
import numpy as np

In [19]:
#read data 
toronto_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0] 
df_toronto = pd.DataFrame(data = toronto_data)
df_toronto.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [20]:
#Data Preparation
#filter not assigned values 
df_toronto = df_toronto[(df_toronto.Borough!= "Not assigned")]   
#Assign Borough value for the neighborhodos that == Not Assigned 
df_toronto.Neighborhood.replace("Not Assigned",df_toronto.Borough,inplace=True)

#group by Postcode and merge rows  

df_toronto_2 = df_toronto.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x))

df_toronto_2.reset_index(level=['Postcode','Borough'], inplace=True)

In [23]:
# return head tp check neighborhoods are correctly merged
df_toronto_2.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [24]:
#return shape 
df_toronto_2.shape

(103, 3)