Toronto Neighborhood Assignment 20191216 - Coursera Data Science Capstone Course 

Part 1

In [6]:
#import libraries 
import pandas as pd   
import numpy as np

In [19]:
#read data 
toronto_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0] 
df_toronto = pd.DataFrame(data = toronto_data)
df_toronto.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [20]:
#Data Preparation
#filter not assigned values 
df_toronto = df_toronto[(df_toronto.Borough!= "Not assigned")]   
#Assign Borough value for the neighborhodos that == Not Assigned 
df_toronto.Neighborhood.replace("Not Assigned",df_toronto.Borough,inplace=True)

#group by Postcode and merge rows  

df_toronto_2 = df_toronto.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x))

df_toronto_2.reset_index(level=['Postcode','Borough'], inplace=True)

In [23]:
# return head tp check neighborhoods are correctly merged
df_toronto_2.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [24]:
#return shape 
df_toronto_2.shape

(103, 3)

PART 2 - Combine LAT, LONG Data

In [38]:
#Download coordinates data
df_geo = pd.read_csv(r'C:\Users\tiina\Downloads\Geospatial_Coordinates.csv')

In [39]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [40]:
#rename Postal Code column on the toronto dataframe 
df_toronto_2.rename(columns={'Postcode': 'Postal Code'}, inplace=True)
    
#merge the two dataframes together based on postal code. I use inner join as the lat and long values are needed for all in the future. 

df_toronto_geo = df_toronto_2.merge(df_geo, on='Postal Code')

In [41]:
#df data frame 
df_toronto_geo.head(12)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849

In [42]:
df_toronto_geo.shape

(103, 5)